.Game{

   
    width:500px;
    height:600px;
    background-color: skyblue;


}

.button-container {
    margin: 20px;
}
.button-container button {
    margin: 5px;
    padding: 10px 20px;
}

input{
    width:400px;
    
}